body {
    background: url(images/bg.jpg);
    padding-top: 200px;
    font-family: Arial;
    color:#fff;
}

article {
    width: 400px;
    padding: 20px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border-style: dotted;
}